DATABASE_URL=postgres://YourUserName:YourPassword@YourHostname:5432/YourDatabaseName
PORT = 
database = ''
username = 'postgres'
password = ''
host = 'localhost'
port = 
dialect = 'postgres'
RESET = 'false'
SECRET_KEY = 'SECRET_KEY_SAMPLE'
STRIPE_KEY = 
CLIENT_URL = http://localhost:3000
